<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @user_detail.Number %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user_detail.Gender %>
</p>

<p>
  <strong>Nameset:</strong>
  <%= @user_detail.NameSet %>
</p>

<p>
  <strong>Title:</strong>
  <%= @user_detail.Title %>
</p>

<p>
  <strong>Givenname:</strong>
  <%= @user_detail.GivenName %>
</p>

<p>
  <strong>Middleinitial:</strong>
  <%= @user_detail.MiddleInitial %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @user_detail.Surname %>
</p>

<p>
  <strong>Streetaddress:</strong>
  <%= @user_detail.StreetAddress %>
</p>

<p>
  <strong>City:</strong>
  <%= @user_detail.City %>
</p>

<p>
  <strong>State:</strong>
  <%= @user_detail.State %>
</p>

<p>
  <strong>Statefull:</strong>
  <%= @user_detail.StateFull %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @user_detail.ZipCode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user_detail.Country %>
</p>

<p>
  <strong>Countryfull:</strong>
  <%= @user_detail.CountryFull %>
</p>

<p>
  <strong>Emailaddress:</strong>
  <%= @user_detail.EmailAddress %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user_detail.Username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user_detail.Password %>
</p>

<p>
  <strong>Browseruseragent:</strong>
  <%= @user_detail.BrowserUserAgent %>
</p>

<p>
  <strong>Telephonenumber:</strong>
  <%= @user_detail.TelephoneNumber %>
</p>

<p>
  <strong>Telephonecountrycode:</strong>
  <%= @user_detail.TelephoneCountryCode %>
</p>

<p>
  <strong>Mothersmaiden:</strong>
  <%= @user_detail.MothersMaiden %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user_detail.Birthday %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user_detail.Age %>
</p>

<p>
  <strong>Cctype:</strong>
  <%= @user_detail.CCType %>
</p>

<p>
  <strong>Ccnumber:</strong>
  <%= @user_detail.CCNumber %>
</p>

<p>
  <strong>Cvv2:</strong>
  <%= @user_detail.CVV2 %>
</p>

<p>
  <strong>Ccexpires:</strong>
  <%= @user_detail.CCExpires %>
</p>

<p>
  <strong>Nationalid:</strong>
  <%= @user_detail.NationalID %>
</p>

<p>
  <strong>Ups:</strong>
  <%= @user_detail.UPS %>
</p>

<p>
  <strong>Westernunionmtcn:</strong>
  <%= @user_detail.WesternUnionMTCN %>
</p>

<p>
  <strong>Moneygrammtcn:</strong>
  <%= @user_detail.MoneyGramMTCN %>
</p>

<p>
  <strong>Color:</strong>
  <%= @user_detail.Color %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @user_detail.Occupation %>
</p>

<p>
  <strong>Company:</strong>
  <%= @user_detail.Company %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @user_detail.Vehicle %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @user_detail.Domain %>
</p>

<p>
  <strong>Guid:</strong>
  <%= @user_detail.GUID %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @user_detail.Latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @user_detail.Longitude %>
</p>

<%= link_to 'Edit', edit_user_detail_path(@user_detail) %> |
<%= link_to 'Back', user_details_path %>
